*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html, 
body    {
    width: 100vw;
    height: 500vh;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

h1  {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -90px;
}

h2  {
    font-size: 30px;
    font-weight: 50;
    line-height: 100%;
    position: relative;
    top: 130px;
    text-align: center;
}

p   {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    position: relative;
    top: 130px;
}

.model  {
    position: fixed;
    width: 100%;
    /*height: 100vh;*/
    height: 100dvh;
    background: #fefdfd;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 2;
}

.hero h1 {
    position: absolute;
    text-align: center;
    padding-bottom: 100px;
    top: 250px;
}

.hero h2{
    position: absolute;
    top: 650px;    
    font-size: 28;
}

.hero p {
    position: absolute;
    top: 700px; 
    width: 60%;
    font-size: 18px;
    margin: 0px 0px;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 500px) {
    .hero h1 {
        top: 190px;
    }
    
    .hero h2 {
        font-size: 30px;
        top: 565px;
        width: 95%;   
    }

    .hero p {
        font-size: 15px;
        top: 630px; 
        width: 95%;
    }
}
    
    
.info   {
    gap: 10em;

}

.info {
    width: 100%;
    gap: 1em;
}

.tags{
    display: flex;
    align-items: center;
}


.info h2 {
    width: 75%; /* Espaço do texto */
    text-align: center;
    padding: 20px;
}

.info p {
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}


.scan-info {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.scan-container {
    width: 280px;
    height: 480px;
    border: 1px solid #000;
    border-radius: 0.5em;
}

.barcode    {
    position: absolute;
    bottom: 1em;
    left: 2em;
    width: 200px;
    height: 100px;
}

.purchased  {
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 0.5em 4em;
    color: red;
    border: 1px solid red;
    border-radius: 1em;
}

.outro h2   {
    width: 70%;
    text-align: center;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}